#header {
    background-color: #1e1e1e;
}

header {
    width: 800px;
    margin: auto;
    overflow: hidden;
    color: #5d5d5d;
    /*background-color: #373737;*/
}

    header nav a {
        float: right;
        margin-top: 22px;
    }

    header h1 {
        color: #afafaf;
        float: left;
        margin-left: 40px;
    }

#canvas {
    background-color: #ffffd2;
    min-height: 340px;
    text-align: center;
    padding: 10px;
}

#canvas p {
    cursor: default;
    color: gray;
    padding-top: 80px;
    font-size: 50px;
}

.button {
    display: block;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    background: #ff92d4;
    color: #89437f;
}

#options-button {
    text-indent: -99999px;
    width: 10px;
    background: url(../img/gear.png) no-repeat center center #ffd6e7;
}

#options-dialog {
    position: absolute;
    width: 300px;
    background-color: #ffd6e7;
    margin-left: 350px;
    margin-top: 22px;
    padding-bottom: 15px;
    display: none;
}

#options-dialog h3 {
    padding: 0;
    margin: 20px 20px 10px;
}

#options-dialog p {
    margin: 10px 25px;
    padding: 0;
}

#options-dialog #filters {

}

#options-dialog #filters label {
    display: block;
    margin-bottom: 9px;
}

#options-dialog #filters input {
    margin-right: 10px;
}