body {
    background-color: #2e2e2e;
    height: 100%;
}

#header {
    background-color: #3e3e3e;
    box-shadow: 0 0 3px black;
}

header {
    width: 800px;
    margin: auto;
    overflow: hidden;
    color: #5d5d5d;
}

    header nav a {
        float: right;
        margin-top: 22px;
    }

    header h1 {
        color: #d1d1d1;
        float: left;
        margin-left: 40px;
        font-weight: normal;
        font-size: 38px;
        padding: 0;
        margin-top: 18px;
        margin-bottom: 17px;
    }

#canvas {
    min-height: 460px;
    margin-top: 40px;
    text-align: center;
    background: fixed center center;
    padding-bottom: 40px;
}

#preview-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

#canvas.dropped + #preview-background {
    opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#canvas p {
    cursor: default;
    color: gray;
    padding-top: 80px;
    font-size: 50px;
}

.button {
    display: block;
    padding: 10px 25px 8px 25px;
    text-decoration: none;
    background: #ff764e;
    color: #7d3a26;
    font-size: 20px;
}

#options-button {
    text-indent: -99999px;
    width: 10px;
    background: url(../img/gear.png) no-repeat center center #5e5e5e;
}

#options-dialog {
    position: absolute;
    width: 300px;
    background-color: #5e5e5e;
    margin-left: 500px;
    margin-top: 68px;
    padding-bottom: 15px;
    display: none;
    color: #cccccc;
}

#options-dialog h3 {
    color: white;
    font-weight: normal;
    padding: 0;
    margin: 20px 20px 10px;
}

#options-dialog p {
    margin: 10px 25px;
    padding: 0;
}

#options-dialog #filters label {
    display: block;
    margin-bottom: 9px;
}

#options-dialog #filters input {
    margin-right: 10px;
}